<%namespace name="util" file="functions.html" />
<%!
import config
%>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Western Province Campaign 2010</title>
<script type="text/javascript" src="../javascript/flotr/lib/prototype.js"></script>

		
<!--[if IE]>
	<script type="text/javascript" src="../flotr/lib/excanvas.js"></script>
	>script type="text/javascript" src="../flotr/lib/base64.js"></script>
<![endif]-->
<script type="text/javascript" src="../javascript/flotr/lib/canvas2image.js"></script>
<script type="text/javascript" src="../javascript/flotr/lib/canvastext.js"></script>
<script type="text/javascript" src="../javascript/flotr/flotr.js"></script>
<script type="text/javascript" src="../javascript/plotting.js"></script>
<link rel="stylesheet" href="../css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="../css/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]>
<link rel="stylesheet" href="../css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->


</head>
<body>
<div class="container showgriid">
  <div id="header" class="span-24 last prepend-top pull-3">
    <a href="${config.webroot[0:-1]}" style="text-decoration:none;">
      <div class="span-7">
      <img src="../images/ubbanner.gif" />
      </div>
      <div class="span-17  last">
      <h1>Western Province Campaign 2010</h1>
      </div>
    </a>
  </div>
  
  <div id = "main" class="span-24 last pull-2 prepend-top">
