<%namespace name="util" file="functions.html" />
<%include file="header.html"/>
<%!
   import config
%>

<iframe width="1000" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=http:%2F%2Fuamuzibora.dnsalias.com%2Fper.kml&amp;sll=37.0625,-95.677068&amp;sspn=39.320439,79.013672&amp;ie=UTF8&amp;t=h&amp;ll=0.538322,34.554749&amp;spn=1.922432,2.743835&amp;z=9&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=http:%2F%2Fuamuzibora.dnsalias.com%2Fper.kml&amp;sll=37.0625,-95.677068&amp;sspn=39.320439,79.013672&amp;ie=UTF8&amp;t=h&amp;ll=0.538322,34.554749&amp;spn=1.922432,2.743835&amp;z=9" style="color:#0000FF;text-align:left">View Larger Map</a></small>
